html{
  height: 100%;
}
body{
    background: linear-gradient(rgb(252, 254, 252), rgb(255, 246, 235));
    align-items: center;
    overflow: hidden;
    font-size: 15px;
}

h1, h2{
  top: 0px;
}

h1{
  position: relative;
  top: 0px;
  text-align: center;
  font-family: cursive;
  color: rgb(255, 201, 134);
}

h2{
  position: relative;
  text-align: center;
  font-size: 15px;
  top: 0px;
}

@media only screen and (max-width: 767.96px) {
  .heading{
    font-size: 10px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 575.96px) {
  .heading {
    font-size: 5px;
    line-height: 1.2rem;
  }
}

.container{
    position:relative;
    bottom: -80px;
    margin-left: 32%;
    margin-right: 32%;
    background: rgb(252, 254, 252);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(255, 202, 42, 0.2);
    text-align: center;
    padding-bottom: 100px;
   

  }

  @media only screen and (max-width: 767.96px) {
    .container {
      padding-bottom: 60px;
    }
  }

  @media only screen and (max-width: 575.96px) {
    .container {
      padding-bottom: 0px;
    }
  }




  .catyes{
  
    width: 100%;
  }
  
  .catyes img{
    position: relative;
    
    width: 40%;
    }
  

